.wrapper__main__navLinks {
  @media print {
    display: none;
  }

  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;

  & a {
    color: darken(#05164c, 5%);
    outline: none;
  }

  & ul {
    & li {
      display: inline-block;
      padding-right: 1.25rem;
    }
  }
}

.pdf-download.pdf {
  background-position: -32.4rem -35.7rem;
}

.pdf-download {
  padding: 0.1rem 0.8rem 0 1.2rem;
  background-image: url(https://www.rijksoverheid.nl/presentation/shared-ro/images/sprite-1.2.png);
  background-repeat: no-repeat;
}
