.profilePicture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;

  & p {
    color: darken($white, 5%);
    text-align: center;
  }
}
