.skills {
  &__items {
    display: flex;
    flex-wrap: wrap;

    &__skill {
      border: $light-gray solid 1px;
      margin: 0.2rem;
      padding: 0.5rem;
      flex: 1 1 30%;

      &:hover {
        background: $primary-color-light;
        color: white;
        font-weight: 300;
        transition: all 0.2s;
      }
    }
  }
  // margin: auto;
  // border-color: $light-gray;
  // border-style: solid;
  // border-width: 1px 0 0 1px;

  // &__items {
  //   flex-grow: 1;
  //   width: calc(100% / 3);
  //   padding: 0.32rem;
  //   border-color: $light-gray;
  //   border-style: solid;
  //   border-width: 0 1px 1px 0;
  //   box-sizing: border-box;
  // }
}
