// $primary-color: #9ec3c9;
$primary-color: #538c95;
$primary-color-light: #7eafb7;
$light-color: #fcfcfc;
$heading-color: #b6b6b6;
$white: #fff;
$light-gray: lightgray;
$dark-color: #333;
$dark-blue: #04123e;

$headings-font-family: "Zilla Slab", sans-serif;
$containerwidth: 1200px;

$heading1-font-size: 3.2rem;
$heading2-font-size: 3rem;
$heading3-font-size: 2.2rem;
$heading4-font-size: 2rem;
$heading5-font-size: 1.8rem;
$heading6-font-size: 1.6rem;
