@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-size: 1.8rem;
}

h1 {
  font-size: $heading1-font-size;
  font-weight: 600;
  color: darken($white, 5%);
  letter-spacing: 0.02rem;
}

h2 {
  font-size: $heading2-font-size;
  font-weight: 600;
  color: $dark-blue;
}

h3 {
  font-size: $heading3-font-size;
  font-weight: 400;
  color: $primary-color-light;
}

h4 {
  font-size: $heading4-font-size;
  font-weight: 300;
}

a {
  color: $primary-color-light;
  text-decoration: none;
}
